.user-sec {
    display: flex;
    flex: 1;
    margin-right: 20px;
    border-radius: 20px;
    height: 200px;
    background: linear-gradient(120deg, black 40%, rgb(50, 50, 50) 50%, black 60%, black 100%, transparent);
    background-size: 200% 100%;
    background-position: 200% 0;
    animation: shiny 5s linear infinite;
}

@keyframes shiny {
    to {
        background-position: -200%;
    }
}

.user-pf {
    width: 430px;
    flex-shrink: 0;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
    height: 200px;
    background: linear-gradient( 120deg, rgb(235, 235, 235) );
    box-shadow: 0px 1px 20px black;
    background-size: 200% 100%;
    background-position: 200% 0;
    animation: shiny 5s linear infinite;
}

.user-pf img {
    position: absolute;
    left: 50px;
    top: 30px;
    height: 150px;
    width: 150px;
    border-radius: 80px;
    background-color: gray;
    border: 2px solid black;
}

.user-option {
    height: 100%;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 20px;
}

.user-option button {
    background-color: rgb(40, 40, 40);
    border: 0;
    color: rgb(255, 255, 255);
    font-size: 18px;
    height: 50px;
    width: 180px;
    margin-bottom: 9px;
    transform: translateY(5px);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.1s ease;
}

.user-option button:hover {
    background-color: white;
    border: 3px solid rgb(40, 40, 40);
    color: rgb(40, 40, 40);
}


.wholeslide {
    display: flex;
    flex: 1;
    flex-shrink: 1;
    max-width: 700px;
    min-width: 0px;
    height: 200px;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 1px 10px black;
    background-size: 200% 100%;
    background-position: 200% 0;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    position: relative;
}

.wholeslide::before {
    content: '';
    position: absolute;
    height: 200px;
    width: 50px;
    background: linear-gradient(to right, white 0% , rgba(1,1,1,0));
    z-index: 3;
    left: 0;
}

.wholeslide::after {
    content: '';
    position: absolute;
    height: 200px;
    width: 50px;
    background: linear-gradient(to right, rgba(1,1,1,0), white 100%);
    z-index: 3;
    right: 0;
}

.slide {
    display: flex;
    width: max-content;
    min-width: 0px;
    justify-content: center;
    align-items: center;
}

.sitem {
    background: gray;
    flex-shrink: 0;
    height: 160px;
    width: 120px;
    margin: 0 20px 0 20px;
    border-radius: 10px;
}

.albomwhole {
    margin-top: 20px;
    display: flex;
    height: max-content;
    flex: 1;
    max-width: 98%;
    justify-content: space-between;
    align-items: center;
}

.albom {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 5px;
    height: 200px;
    width: 200px;
    flex-shrink: 0;
}

.one {
    border-radius: 5px;
    grid-area: 1/ 1/ 4/ 2;
    background-color: gray;
}

.two {
    border-radius: 5px;
    grid-area: 4/1/6/2;
    background-color: gray;
}

.three {
    border-radius: 5px;
    grid-area: 1/2/3/3;
    background-color: gray;
}

.four {
    border-radius: 5px;
    grid-area: 3/2/6/3;
    background-color: gray;
}


@media screen and (max-width : 896px) {
    .wholeslide {
        display: none;
    }

    .user-pf {
        min-width: 440px;
        flex: 1;
    }

    .albom {
        margin-left: 20px;
    }

    .user-option {
        position: relative;
        width: 400px;
        margin-left: 300px;
    }

    .user-option button {
        width: 100%;
        max-width: 300px;
        min-width: 180px;
    }
}

@media screen and (max-width : 710px) {
    .albom {
        display: none;
        margin-left: 0;
    }

    .user-pf {
        margin-right: 0;
    }
}

@media (max-width: 476px) {
  
}