.content {
    background: white;
    width: 100%;
    aspect-ratio: 2.3;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 10px black;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-top: 7%;
    position: relative;
    margin-bottom: 2%;
    padding-bottom: 2.5%;
}

.c-title {
    position: absolute;
    top: 5px;
    border-bottom: 1px solid black;
    width: 100%;
    aspect-ratio: 14;
    border-radius: 10px px 0 0;
}

.c-title h1 {
    color: rgb(0, 0, 0);
    font-size: 2vw;
    margin-left: 3.8%;
}

.like-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3.8%;
    top: 20%;
    border: none;
    height: 53%;
    background: none;
    cursor: pointer;
}


.like-icon img {
    height: 100%;
    aspect-ratio: 1;
}

.like-icon img:nth-child(1) {
    display: none;
}

.main-content {
    position: relative;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto;
    width: 90%;
    aspect-ratio: 2.3;
    row-gap: 1%;
    column-gap: 4%;
}

.picture {
    grid-area: 1/2/4/3;
    display: flex;
    border-radius: 0.5rem;
    background-color: gray;
    width: 100%;
    aspect-ratio: 3/4;
}

.picture img {
    aspect-ratio: 3/4;
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 3/4;
}

.genre {
    background: rgb(181, 181, 181);
    grid-area: 1/1/3/2;
    border-radius: 0.5rem;
    width: 100%;
    aspect-ratio: 3.3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;

}

.genre p {
    color: rgb(0, 0, 0);
    font-size: 1.1vw;
    font-weight: 700;
    margin-left: 7%;
    margin: 2% 0 2% 4%;
    font-family: arial;
}


.plot {
    grid-area: 3/1/5/2;
    background: rgb(138, 138, 138);
    box-shadow: inset 1px 1px 10px rgb(41, 41, 41), inset -1px -1px 10px rgb(100, 100, 100);
    width: 100%;
    aspect-ratio: 4.3;
    border-radius: 0.5rem;
    border: 1px solid black;
}

.plot p {
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    margin-left: 2%;
    margin-right: 2%;
    font-family: sans-serif;
    font-weight: 800;
    text-align: justify;
}

.main-content button {
    grid-area: 4/2/5/3;
    position: absolute;
    background-color: rgb(40, 40, 40);
    border: none;
    width: 100%;
    aspect-ratio: 3.8;
    border-radius: 0.5rem;
    font-size: 1.5vw;
    color: rgb(255, 255, 255);
    box-shadow: 0px 1px 10px black;
    cursor: pointer;
    transition: 0.1s ease;
}

.main-content button:hover {
    background-color: white;
    color: rgb(40, 40, 40);
    border: 3px solid rgb(40, 40, 40);
}

@media screen and (max-width: 600px) {
    

    .content{
        height: 560px;
    }

    .c-title{
        aspect-ratio: unset;
        height: 8%;
        display: flex;
        align-items: center;

    }

    .c-title h1{
        font-size: 5vw;
    }

    .main-content{
        height: 90%;
        aspect-ratio: unset;
        grid-template-columns: 1fr;
        grid-template-rows: 300px 8% 75px 10%;
        justify-content: center;
        justify-items: center;
        gap: 2%;
    }

    .main-content button{
        grid-area: 4/1/5/1;
        font-size: 2.2vw;
        aspect-ratio: unset;
        height: 100%;
    }


    .picture{
        grid-area: 1/1/2/1;
        width: unset;
        height: 300px;
        box-shadow: 0 1px 7px rgb(83, 83, 83);
    }


    .genre{
        grid-area: 2/1/3/1;
        aspect-ratio: unset;
        height: 100%;
        align-items: center;
        flex-direction: row;
    }


    .plot{
        grid-area: 3/1/4/1;
        aspect-ratio:unset;
        height: 75px;
        
    }

    .genre p{
        font-size: 2vw;
        margin-left: 0;
    }

    .plot p{
        font-size: 2vw;
    }

}

@media screen and (max-width:470px) {
    
    .main-content button{
        font-size: 3.5vw;
    }

    .genre p{
        font-size: 2.1vw;
    }

    .plot p{
        font-size: 2.3vw;
    }

}