.Midse {
    height: max-content;
    display: grid;
    margin-top: 1.5%;
    grid-template-columns: 27% 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 1.5%;
    row-gap: 1%;
    grid-template-areas:
    'tside main'
    'bside main'
    ;
}

.bottomsider {
    grid-area: bside;
}



@media  screen and (max-width : 600px) {
    .Midse {
        margin-top: 3%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto auto;
        grid-template-areas: 
        'tside bside'
        'main main';
        column-gap: 3%;
        row-gap: 0.45%;
        margin-bottom: 7%;
    }
    
}
